<form style="width: 50%" action="/wikis/<%= wiki.id %>/collaborators/create" method="post">
    <div class="input-group">
        <input type="text" class="form-control" name="collaborator" placeholder="Enter username">
        <button type="submit" class="btn btn-primary">+ add collaborators</button>
    </div>
</form>