<!-- Add Collaborator button -->
<% if(wiki.private) { %>
    <form style="width: 400px" action="/wikis/<%= wiki.id %>/collaborators/create" method="post">
      <div class="input-group">
         <input type="text" class="form-control" name="collaborator" placeholder="Enter username">
         <button type="submit" class="btn btn-primary">+ Add collaborators</button>
      </div>
    </form> 
    <% } %>