<!DOCTYPE html>
<html>

<head>
    <% include ../static/partials/head.ejs %>
</head>

<body>
    <% include ../static/partials/navbar.ejs %>
    <main class="container">
        <% include ../static/partials/messages.ejs %>
        
        <% if(collaborators) { %>
        <ul class="list-group">
            <% collaborators.forEach((collaborator) => {  %>
            <li class="list-group-item">
                <h4>
                    <%= collaborator.User.username %>
                </h4>
                <% if(currentUser && (currentUser.role === "premium" || currentUser.role === "admin")) { %>
                    <% console.log(collaborator.wikiId) %>
                <form action="/wikis/<%= collaborator.wikiId %>/collaborators/delete" method="post">
                    <button type="submit" class="btn btn-danger">Delete</button>
                    <input type="hidden" value="<%= collaborator.User.id %>" class="form-control" name="collaborator">
                </form>
                <% } %>
            </li>
            <% }) %>
        </ul>
        <% } %>
</body>

</html>