
    <div>
            <% if(collaborator) { %>
             <ul class="list-group">
                 <li class="list-group-item">
                     <h4>
                         <%= collaborator.User.username %>
                     </h4>
                     <% if(currentUser && (currentUser.role === "premium" || currentUser.role === "admin")) { %>
                         <% console.log(collaborators.wikiId) %>
                     <form action="/wikis/<%= collaborator.wikiId %>/collaborators/delete" method="post">
                         <button type="submit" class="btn btn-danger">Delete</button>
                         <input type="hidden" value="<%= collaborator.User.id %>" class="form-control" name="collaborator">
                     </form>
                 </li>
                 <% }) %>
             </ul>
             <% } %>
         </div>
     