<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>
    <% include ../static/partials/navbar.ejs %>

      <h4>New Collaborator test</h4>


    <% include ../static/partials/baseScripts.ejs %>

</html>