<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>
    <main class="container">
      <% include ../static/partials/navbar.ejs %>
      <h1>Wikis</h1>
      <% if(currentUser) { %>
        <a href="/wikis/new" class="btn btn-success">New Wiki</a>
        <% } %>
        <% let name = function findName(users, wiki){ 
          for(let i in users){
              if (users[i].id == wiki.userId){
                  return users[i].username
              }
          }
          } %>
      <ul class="list-group">

        <% wikis.forEach((wiki) => { %>
          <% if(wiki.private === false ) { %>
            <li class="list-group-item">
                <a href="/wikis/<%= wiki.id %>">
                    <%= wiki.title %> </a>
            </li>
            <% } %>
        <% }) %>
        
      </ul>
    </main>
  </body>
</html>