<!DOCTYPE html>
<html>
<head>
    <% include ../static/partials/head.ejs %>
</head>
<body>
    <% include ../static/partials/navbar.ejs %>
    <main class="container">
            <br>
        <h1 class="page-header">Private wikis</h1>
        <% if(currentUser && currentUser.role !== "standard") { %>
            <a href="/wikis/new" class="btn btn-success">Create Wiki</a>
            <% } %>
            <hr>
        <% include ../static/partials/messages.ejs %>
        <ul class="list-group">
            <% wikis.forEach((wiki) => { %>
            <% if(wiki.private === true && wiki.userId === currentUser.id) { %>
                <br>
                <li class="list-group-item">
                <a href="/wikis/<%= wiki.id %>">
                    <%= wiki.title %> </a>
            </li>
            <% } %>
            <% }) %>
        </ul>
    </main>
    <% include ../static/partials/baseScripts.ejs %>
</body>
</html>
