<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>
    <% include ../static/partials/navbar.ejs %>

    <main class="container">
      <h1>New Collaborator test</h1>


    <% include ../static/partials/baseScripts.ejs %>

  </body>
</html>