<!DOCTYPE html>
<html>
    <head>
        <% include ../static/partials/head.ejs %>
    </head>
    <body>
        <% include ../static/partials/navbar.ejs %>
       <main class="container">
          <% include ../static/partials/messages.ejs %>
    
            <!-- downgrade user from premium to standard -->
                <h2>Switching to the basic plan</h2>
                    <h2></h2>
                    <p>Are you sure you want to go basic? You'll no longer have access to your private wikis. </p>
                    <form  style="display:initial" method="POST" action="/users/<%=currentUser.id %>/downgrade">
                        <button type="submit" class="btn btn-danger">Yes, I want the basic plan.</button>
                    </form>

            </main>
        <% include ../static/partials/baseScripts.ejs %>
      </body>
</html>
