<!DOCTYPE html>
<html>
    <head>
        <% include ../static/partials/head.ejs %>
    </head>
    <body>
        <% include ../static/partials/navbar.ejs %>
       <main class="container">
          <% include ../static/partials/messages.ejs %>
          <!-- User account info -->
          <header class="jumbotron my-3">
            <h2>Thank you for your order</h2>
            <p>Your payment of $16.99 has been recieved.</p>
            <p>You've been upgraded to the premium plan!</p>
            <p>To return Blocipedia <a href="/">click here</a>.</p>
          </header>
        </main>
        <% include ../static/partials/baseScripts.ejs %>
      </body>
</html>
